.post-input{width:100%;}
.post-button{float: right;}
.post{background: aliceblue;padding: 10px;margin-top: 15px;}
.comment-box-wrapper{display: none;}
.user-name{margin-bottom: 5px;}
.comment-input{display: block; width: 100%;}
.comment-post-button{float: right;display: block;}
.post-comments{margin-top: 30px;}
.post-comments p{background: white;color: burlywood;padding: 5px;}
.post-comments span{color: darkgray;}
.info,.pagination-wrap{text-align: center;}
h2{padding: 10px;}
.pagination li a.active{background: #428BCA;
color: white;}